
<div class="row clearfix">
    <% if doit_item.completed? %>
        <div class="complete">
           <%= link_to complete_doit_list_doit_item_path(@doit_list, doit_item.id), method: :patch do %> 
                <i style="opacity: 0.4" class="fa fa-check"></i>
           <% end %>
        </div>
        <div class="todo_item">
            <p style="opacity: 0.4"><strike><%= doit_item.content %></strike></p>
        </div>
        <div class="trash">
            <%= link_to doit_list_doit_item_path(@doit_list, doit_item.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
            <% end %>
        </div>
    <% else %>
        <div class="complete">
           <%= link_to complete_doit_list_doit_item_path(@doit_list, doit_item.id), method: :patch do %> 
                <i class="fa fa-check"></i>
           <% end %>
        </div>
        <div class="todo_item">
            <p><%= doit_item.content %></p>
        </div>
        <div class="trash">
             <%= link_to doit_list_doit_item_path(@doit_list, doit_item.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
            <% end %>
        </div>
    <% end %>
        
</div>